<config id="01">
	<name>ghoghnoos</name>
	<version>0.0.2</version>
	<codename>bahar</codename>
	<family>GNU/LINUX</family>
	<type>live</type>
	<arch>x86_64</arch>
	<license>GPL-3.0</license>
	<timezone>Asia/Tehran</timezone>
	
	<users>
		<user>
			<username>root</username>
			<password checksum="md5">root</password>
		</user>
	</users>
	
	<globals>
		export LC_ALL=POSIX
	</globals>
</config>
