<?xml version="1.0"?>
<config id="01">

	<name>ghoghnoos</name>
	<version>0.0.1</version>
	<codename>bahar</codename>
	<family>GNU/LINUX</family>
	<type>live</type>
	<arch>x86_64</arch>
	<hostname>$PROJECT__NAME-$PROJECT__ARCH</hostname>
	<timezone>Asia/Tehran</timezone>
	<constructor>yes</constructor>
	
	<license>GPL-3.0</license>
	
	<users>
		<user>
			<username>root</username>
			<password hash="md5">root</password>
		</user>
	</users>
	
	<globals>
		export LC_ALL=POSIX
	</globals>
	
</config>

