<?xml version="1.0"?>
<config id="01" comment="">
	
	<project>
		<name>Ghoghnoos</name>
		<version>0.0.1</version>
		<codename>Bahar</codename>
		<family>GNU/LINUX</family>
		<type>live</type>
		<arch>x86_64</arch>
	</project>
	
	<system>
		<controller>systemd</controller>
		<password hash="md5">root</password>
		<hostname>Ghoghnoos-x86_64</hostname>
		<timezone>Asia/Tehran</timezone>
		<constructor>yes</constructor>
	</system>
	
	<isodir>/home/mohammad/ghoghnoos-x86_64</isodir>
	<license>GPL-3.0</license>
	
	<globals>
		<!-- All your global variables/functions/calls goes here -->
		export LC_ALL=POSIX
	</globals>
	
</config>

